[Unit]
Description=Diplodocus Diplomacy Discord Bot
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=?????
WorkingDirectory=?????
ExecStart=?????

[Install]
WantedBy=multi-user.target
